<!DOCTYPE html>
<html lang=en>
    <head>
        <style>
            body {
                background-color: #2B9348;
            }
            </style>
        <meta charset="utf-8">
        <title>Sign Up</title>   
    </head>
    <body>
                <h1>Sign Up</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{errors}}
                    <input type="submit" value="Sign up">
                </form>
    </body>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</html>