<!DOCTYPE html>
<html lang=en>
    <head>
        <style>
            .button {background-color: #DDDF00;}
            body {
                background-color: #2B9348;
            }
            h1 {text-align: center;}
            </style>
        <meta charset="utf-8">
        <title>Sign in</title>
    </head>
    <body>
            <div style = "position:absolute; left:600px; top:250px;">
        <h1>Sign In</h1>
        <form action="" method="post">
            {% csrf_token %}
            <label style = "float:left; width: 75px;" for="username">Username:</label>
            <input type="text" name="username" placeholder="Enter Username"><br>
            <label style = "float:left; width: 75px;" for="password">Password:</label>
            <input type="password" name="password">
            <br><div style = "float:left; width: 80px;">&nbsp;</div><a href="{% url 'sign-In' %}"> Sign up</a><br>
            <br><div style = "float:left; width: 175px; ">&nbsp;</div><button class = "button button" >Sign in </button>
        </form>
        <br>
    </body>
</html>